#promo{
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: space-around;
}

.contener{
    display: flex;
    justify-content: center;
}

#create{
    width: 23rem;
    margin: 2em;
}

.title{
    font: bold;
}

.card-create{

}

.margin-card{
    margin: 1em 2em;
}

.margin-btn{
    margin-bottom: 1em;
}